{% extends "nametag.html" %}{% block head_title %}{{block.super}} - About Us{% endblock %}
{% block head_css %}    {{block.super}}    {% endblock %}
{% block head_javascript %}    {{block.super}}    {% endblock %}
{% block nametagcontent %}
<h2>About Us</h2>
VapURL was created as a fun weekend project by a couple nerds.<br />
<br />
Follow us on Twitter at:<br />
<blockquote>
    <a href="http://twitter.com/giggy">@giggy</a><br />
    <a href="http://twitter.com/nogwater">@nogwater</a><br />
</blockquote>
{% endblock %}